# List

In [27]:
list1=['Yositha',5,2000,73.5]
list1

['Yositha', 5, 2000, 73.5]

In [2]:
list1.append("Python")
list1

['Yositha', 5, 2000, 73.5, 'Python']

In [3]:
list1.clear()
list1

[]

In [4]:
list1=['Yositha',2000,73.5]
newlist=list1
print("New list is: ", newlist)
print("Old list is: ", list1)

New list is:  ['Yositha', 2000, 73.5]
Old list is:  ['Yositha', 2000, 73.5]

In [5]:
list1.append(73.5)
list1.count(73.5)

2

In [6]:
list1.extend(newlist)
list1

['Yositha', 2000, 73.5, 73.5, 'Yositha', 2000, 73.5, 73.5]

In [7]:
list1.index(2000)

1

In [10]:
list1.insert(4,"Letsupgrad")
list1

['Yositha',
 2000,
 73.5,
 73.5,
 'Letsupgrad',
 'Letsupgrad',
 'Yositha',
 2000,
 73.5,
 73.5]

In [12]:
list1.pop(3)

73.5

In [16]:
newlist.remove('Letsupgrad')
newlist

['Yositha', 2000, 73.5, 73.5, 'Yositha', 2000, 73.5, 73.5]

In [17]:
list1

['Yositha', 5, 2000]

In [21]:
newlist.reverse()
newlist

[73.5, 73.5, 2000, 'Yositha', 73.5, 73.5, 2000, 'Yositha']

In [26]:
list2=['a','b','z','c']
list2.sort()
list2

['a', 'b', 'c', 'z']

# Dictionary

In [1]:
dict={1:'one',2:'two'}
dict

{1: 'one', 2: 'two'}

In [2]:
new=dict.copy()
print("New dict is:",new)

New dict is: {1: 'one', 2: 'two'}

In [4]:
keys={'y','o','s','i'}
values= 'alphabet'
dict1=dict.fromkeys(keys,values)
dict1

{'s': 'alphabet', 'i': 'alphabet', 'o': 'alphabet', 'y': 'alphabet'}

In [11]:
print(dict.get(1))
print(dict1.get('s'))

one
alphabet

In [12]:
print(dict.items())

dict_items([(1, 'one'), (2, 'two')])

In [13]:
print(dict1.keys())

dict_keys(['s', 'i', 'o', 'y'])

In [15]:
dict1.pop('i')
dict1

{'s': 'alphabet', 'o': 'alphabet', 'y': 'alphabet'}

In [17]:
dict.popitem()
dict

{1: 'one'}

In [19]:
dict.setdefault(1)

'one'

# Sets

In [1]:
set={"sai",1,3,3,2,6,6}
set.add(8)
set

{1, 2, 3, 6, 8, 'sai'}

In [7]:
numbers={1,2,3}
newnumbers=numbers.copy()
print(newnumbers)
newnumbers.add(4)
print(newnumbers)

{1, 2, 3}
{1, 2, 3, 4}

In [10]:
set1={1,2,3,4,5}
set2={3,6,7}
print(set1.difference(set2))
print(set2.difference(set1))

{1, 2, 4, 5}
{6, 7}

In [11]:
print(set1.difference_update(set2))

None

In [12]:
set1.discard(2)
set1

{1, 4, 5}

In [14]:
set2={1,3,6}
print(set2.intersection(set1))

{1}

In [15]:
print(set.intersection_update(set2))

None

In [16]:
print(set1.isdisjoint(set2))

False

In [17]:
print(set1.issubset(set2))

False

In [18]:
print(set2.issuperset(set1))

False

In [20]:
print(set1.pop())

1

In [21]:
print(set1)
print(set2)

{4, 5}
{1, 3, 6}

In [22]:
set2.remove(1)
set2

{3, 6}

In [23]:
set1={'a','b','c','d'}
set2={'c','d','e'}
print(set1.symmetric_difference(set2))
print(set1.symmetric_difference_update(set2))

{'a', 'e', 'b'}
None

In [24]:
print(set1.union(set2))

{'e', 'd', 'a', 'c', 'b'}

In [27]:
result=set1.update(set2)
print(set1)
print(result)

{'e', 'd', 'a', 'c', 'b'}
None

In [29]:
set1.clear()
set2.clear()
print(set1)
print(set2)

set()
set()

# Tuple

In [30]:
tup=("sai","@","sai")
tup

('sai', '@', 'sai')

In [31]:
tup.count('sai')

2

In [32]:
tup.index('sai')

0

# String

In [36]:
str="python"
str.capitalize()

'Python'

In [5]:
string='PYTHON'
print("lowercase string:",string.casefold())

lowercase string: python

In [7]:
result=string.endswith('N')
print(result)

True

In [8]:
encode=string.encode()
print("The encoded version is:",encode)

The encoded version is: b'PYTHON'

In [9]:
print(string.swapcase())

python

In [13]:
string.find('Y')

1

In [16]:
s='\nnew line is printable'
print(s)
print(s.isprintable())

new line is printable
False